/* CSS Document */

/* ============================
		Reset
 ============================ */

.commonAside .rankingList li {
  margin-bottom: 40px;
}

/* for PC */
@media screen and (min-width: 1201px) {
  main {
    margin-top: 111px;
  }
}

/* ============================
		mainVisualSection
 ============================ */

.mainVisualSection {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 960px) and (min-width: 768px) {
}

.mainVisualSection .bxslider {
}

.mainVisualSection .bxslider li {
}

.mainVisualSection .bxslider li > a {
  display: block;
}

.mainVisualSection .bxslider li .photo {
  margin-bottom: 10px;
}

.mainVisualSection .bxslider li .inner {
  padding: 0 20px;
  position: relative;
}

.mainVisualSection .bxslider li .newMark {
  position: absolute;
  top: 0;
  right: 20px;
}
.mainVisualSection .bxslider li .newMark img {
  width: 48px;
  height: auto;
}

.mainVisualSection .bxslider li .title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1em;
  padding-right: 50px;
}

.mainVisualSection .bxslider li .body {
}

.mainVisualSection .bxslider li .body span {
  display: table-cell;
  height: 45px;
  vertical-align: middle;
  font-size: 1.6rem;
  line-height: 1.35em;
}

.bx-wrapper {
  margin-bottom: 20px;
}

.mainVisualSection .bxslider li .photo img {
  width: 100%;
  height: auto;
}

/* for TB (Vertical) */
@media screen and (max-width: 960px) and (min-width: 768px) {
  .mainVisualSection .bxslider li .photo {
    margin-bottom: 15px;
  }

  .mainVisualSection .bxslider li .photo img {
    width: 100%;
    height: auto;
  }
}

/* for PC (XVGA) */
@media screen and (max-width: 1200px) and (min-width: 961px) {
  .mainVisualSection .bxslider li .photo {
    margin-bottom: 15px;
  }
  .mainVisualSection .bxslider li .photo img {
    width: 100%;
    height: auto;
  }
}

/* for PC */
@media screen and (min-width: 1201px) {
  .mainVisualSection {
    padding: 0;
    margin-bottom: 0;
    float: left;
    width: 800px;
  }

  /*2022.02.04 追記 */
  .mainVisualSection .bxslider {
    height: 555px;
    overflow: hidden;
  }

  .mainVisualSection .bxslider li .photo {
    /*box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);*/
    background-color: #fff;
    margin: 0 0 15px 0;
  }

  .mainVisualSection .bxslider li .photo img {
    width: 800px;
    height: auto;
  }

  .mainVisualSection .bxslider li .inner {
    padding: 0;
  }
  .mainVisualSection .bxslider li .newMark {
    right: 15px;
  }

  .mainVisualSection .bxslider li .newMark {
    /*		position: relative;
		top: 0;
		right: 0;*/
    display: inline-block;
    margin-left: 1em;
  }
  .mainVisualSection .bxslider li .newMark img {
    width: 57px;
    height: auto;
  }

  .mainVisualSection .bxslider li .title {
    font-size: 2.4rem;
  }

  .mainVisualSection .bxslider li .body span {
    display: table-cell;
    height: 70px;
  }

  .bx-wrapper {
    height: 600px;
  }
}

@media all and (-ms-high-contrast: none) and (min-width: 1201px) {
  .topsSections {
    height: 710px;
    position: relative;
    top: 110px;
    overflow: hidden;
  }
}

/* ============================
		bxslider
 ============================ */

.bx-wrapper {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  background-color: transparent;
}

/* ============================
		commonToppageSection
 ============================ */

.commonToppageSection {
  margin-bottom: 70px;
}

.commonToppageSection h2 {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 30px;
  text-align: center;
}

.commonToppageSection ul {
}

.commonToppageSection li {
  margin-bottom: 45px;
}

.commonToppageSection a {
  display: block;
}

.commonToppageSection .photo {
  margin-bottom: 12px;
  box-sizing: border-box;
}
.commonToppageSection .photo.withBorder {
}

.commonToppageSection .photo img {
  width: 100%;
  height: auto;
}
.commonToppageSection .photo.withBorder img {
  border: 1px solid #cccccc;
}

.commonToppageSection .table {
  display: table;
  width: 100%;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.commonToppageSection .cell {
  display: table-cell;
  vertical-align: top;
  height: 80px;
  /*padding: 0 20px;*/
  position: relative;
  width: 100%;
  box-sizing: border-box;
  /*overflow-y: hidden;*/
}

.commonToppageSection .newMark {
  position: absolute;
  top: -15px;
  right: 0;
}
.commonToppageSection .newMark img {
  width: 48px;
  height: auto;
}

.commonToppageSection .title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.2em;
  margin-top: 3px;
  margin-bottom: 12px;
}

.table div.cell p.title {
  display: block;
  line-height: 1.75em;
  background-image: url("../../common/images/link_makr004.svg");
  background-repeat: no-repeat;
  background-position: left 1rem;
  padding-left: 12px;
  background-size: auto;
}

.commonToppageSection .title.withNewMark {
  background-image: url("../images/mark_new001.svg");
  background-repeat: no-repeat;
  background-position: right top 2px;
  background-size: 48px auto;
  /*padding-right: 53px;*/
  padding-right: 37px;
}

.commonToppageSection .body {
  font-size: 1.6rem;
  line-height: 1.35em;
}

.commonToppageSection .theme {
  font-size: 1.4rem;
  line-height: 1em;
  text-align: right;
}

/* for TB (Vertical) */
@media screen and (max-width: 960px) and (min-width: 768px) {
  .commonToppageSection ul {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .commonToppageSection li {
    margin-bottom: 50px;
    /*		float: left;*/
    width: calc(50% - 10px);
    margin-right: 10px;
    display: flex;
    align-items: stretch;
    position: relative;
  }
  .commonToppageSection li:nth-child(even) {
    margin-right: 0;
  }
  .commonToppageSection li:nth-child(odd) {
  }

  .commonToppageSection li a {
    display: block;
    width: 100%;
    padding-bottom: 36px;
  }

  .commonToppageSection .table {
    /*		border-bottom: 1px solid #c0c0c0;*/
    border-bottom: none;
  }

  .commonToppageSection .theme {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #c0c0c0;
    padding-top: 10px;
  }
}

/* for PC (XVGA) */
@media screen and (max-width: 1200px) and (min-width: 961px) {
  .commonToppageSection ul {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .commonToppageSection li {
    display: flex;
    align-items: stretch;
    position: relative;
    margin-bottom: 65px;
    width: calc(33.3333% - 14px);
    margin-right: 20px;
  }
  .commonToppageSection li:nth-child(3n) {
    margin-right: 0;
  }
  .commonToppageSection li:nth-child(3n + 1) {
    clear: both;
  }

  .commonToppageSection li a {
    display: block;
    width: 100%;
    padding-bottom: 36px;
  }

  .commonToppageSection .newMark {
    position: absolute;
    top: -14px;
    right: 0px;
  }

  .commonToppageSection .table {
    border-bottom: none;
  }

  .commonToppageSection .cell {
    padding: 0;
    height: auto;
  }

  .commonToppageSection .table div.cell p.title {
    font-size: 1.6rem;
    line-height: 1.2em;
    background-position: left 0.5rem;
  }

  .commonToppageSection li:first-child .table div.cell p.title {
    height: 2.4em;
  }

  .commonToppageSection .body {
    min-height: 2.7em;
  }

  .commonToppageSection .theme {
    font-size: 1.2rem;
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #c0c0c0;
    padding-top: 10px;
  }
}

/* for PC */
@media screen and (min-width: 1201px) {
  .commonToppageSection {
    margin-bottom: 60px;
  }

  .commonToppageSection h2 {
    font-size: 2.5rem;
    margin-bottom: 45px;
  }

  .commonToppageSection ul {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .commonToppageSection li {
    margin-bottom: 65px;
    /*		float: left;*/
    width: calc(33.3333% - 24px);
    /*		margin-right: 65px;*/
    margin-right: 36px;
    display: flex;
    align-items: stretch;
    position: relative;
  }
  .commonToppageSection li:nth-child(3n) {
    margin-right: 0;
  }
  .commonToppageSection li:nth-child(3n + 1) {
  }

  .commonToppageSection li a {
    display: block;
    width: 100%;
    padding-bottom: 36px;
  }

  .commonToppageSection .newMark {
    right: 0;
  }
  .commonToppageSection .newMark img {
    width: 48px;
    height: auto;
  }

  .commonToppageSection .table {
    border-bottom: none;
  }

  .commonToppageSection .cell {
    height: auto;
  }

  .commonToppageSection .body {
    min-height: 2.7em;
  }

  .commonToppageSection .theme {
    position: absolute;
    left: 0;
    bottom: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #c0c0c0;
    padding-top: 10px;
  }
}

/* ============================
		pickupSection
 ============================ */

.pickupSection {
  background-color: #f5f5f5;
  margin-bottom: 70px;
  padding: 25px 0;
}

.pickupSection ul {
}

.pickupSection li {
  background-color: #fff;
  margin-bottom: 45px;
  padding: 10px;
  position: relative;
}

.pickupSection li:last-child {
  margin-bottom: 25px;
}

.pickupSection a {
  display: block;
}

.pickupSection .photo {
  float: left;
  width: 140px;
}
.pickupSection .photo.withBorder {
}

.pickupSection .photo img {
  width: 100%;
  height: auto;
}
.pickupSection .photo.withBorder img {
  border: 1px solid #eee;
}

.pickupSection .table {
  display: table;
  width: 100%;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.pickupSection .cell {
  display: table-cell;
  vertical-align: top;
  height: 50px;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}

.pickupSection .title {
  position: absolute;
  top: 10px;
  left: 160px;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 12px;
  padding-right: 10px;
}

.pickupSection .body {
  padding: 10px 0;
  font-size: 1.5rem;
  line-height: 1.35em;
}

.pickupSection .theme {
  font-size: 1.4rem;
  line-height: 1em;
  text-align: right;
}

/* for PC (XVGA) */
@media screen and (max-width: 1200px) and (min-width: 961px) {
  .pickupSection {
    margin-bottom: 30px;
    padding: 60px 0 0 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
  }

  .pickupSection .smartContainer {
    width: 960px;
    margin: 0 auto;
  }

  .pickupSection .pickupList {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .pickupSection .pickupList li {
    width: calc(25% - 15px);
    margin-right: 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 0 0 0 0;
    position: relative;
    display: flex;
    align-items: stretch;
  }

  .pickupSection li:nth-child(4n) {
    margin-right: 0;
  }
  .pickupSection li:nth-child(4n + 1) {
    clear: both;
  }

  .pickupSection .pickupList li a {
    display: block;
    width: 100%;
    padding-bottom: 36px;
  }

  .pickupSection .photo {
    float: none;
    width: 100%;
  }

  .pickupSection .table {
    display: block;
    box-sizing: border-box;
    margin: 0 10px;
    width: calc(100% - 20px);
    border-bottom: none;
  }

  .pickupSection .cell {
    height: auto;
    padding: 0;
  }

  .pickupSection .title {
    position: relative;
    top: 10px;
    left: 0px;
    margin-bottom: 10px;
    padding-right: 0;
  }

  .pickupSection .theme {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    border-top: 1px solid #c0c0c0;
    padding-top: 10px;
  }
}

/* for PC */
@media screen and (min-width: 1201px) {
  .pickupSection {
    margin-bottom: 30px;
    padding: 60px 0 0 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
  }

  .pickupSection .smartContainer {
    width: 1200px;
    margin: 0 auto;
  }

  .pickupSection .pickupList {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .pickupSection .pickupList li {
    width: calc(25% - 45px);
    margin-right: 60px;
    margin-bottom: 65px;
    box-sizing: border-box;
    padding: 0 0 0 0;
    position: relative;
    display: block;
    display: flex;
    align-items: stretch;
  }

  .pickupSection li:nth-child(4n) {
    margin-right: 0;
  }
  .pickupSection li:nth-child(4n + 1) {
    clear: both;
  }

  .pickupSection .pickupList li a {
    display: block;
    width: 100%;
    padding-bottom: 36px;
  }

  .pickupSection .photo {
    float: none;
    width: 100%;
  }

  .pickupSection .table {
    display: block;
    box-sizing: border-box;
    margin: 0 10px;
    width: calc(100% - 20px);
    border-bottom: none;
  }

  .pickupSection .cell {
    height: auto;
    padding: 0;
  }

  .pickupSection .title {
    position: relative;
    top: 10px;
    left: 0px;
    margin-bottom: 10px;
    padding-right: 0;
  }

  .pickupSection .theme {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    border-top: 1px solid #c0c0c0;
    padding-top: 10px;
  }
}

/* ============================
		nettvEmbedSection
 ============================ */

.nettvEmbedSection {
  background-color: #f5f5f5;
  padding: 15px 0;
  margin-bottom: 40px;
}

.nettvEmbedSection .smartContainer {
  background-color: #fff;
  padding: 30px 15px 35px;
}

.nettvEmbedSection .nettvLogo {
  margin-bottom: 25px;
}

.nettvEmbedSection .nettvLogo .title {
  text-align: center;
}
.nettvEmbedSection .nettvLogo .title img {
  width: 275px;
  height: auto;
}

.nettvEmbedSection .thum {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.nettvEmbedSection .title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.5em;
  text-align: center;
  margin-top: 14px;
}

/* for PC */
@media screen and (min-width: 1201px) {
  .nettvEmbedSection {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 0;
    float: right;
    width: 360px;
    margin-top: 20px;
    display: table;
    box-sizing: border-box;
  }

  .nettvEmbedSection .smartContainer {
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
    height: 410px;
  }

  .nettvEmbedSection .nettvLogo {
    margin-bottom: 15px;
    margin-top: -16px;
  }

  .nettvEmbedSection .nettvLogo .title img {
    width: 100%;
    height: auto;
  }

  .nettvEmbedSection .thum {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .nettvEmbedSection .title {
    font-size: 1.6rem;
  }
}

/* ============================
		topMessageSection
 ============================ */

#topInfo {
  display: none;
}
.topMessageSection {
  padding: 15px 0 25px 0;
}

.topMessageSection .smartContainer {
  border-top: 6px solid #990033;
  padding: 15px;
  padding-bottom: 1px;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.topMessageSection h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #990033;
  line-height: 1.35em;
  margin-bottom: 15px;
  text-align: center;
  padding-right: 70px;
}

#topMessageSection {
  padding-bottom: 30px;
}

.topMessageSection .body {
  font-size: 1.6rem;
  line-height: 1.35em;
  color: #990033;
}

.topMessageSection .note {
  font-size: 1.6rem;
  line-height: 1.35em;
  color: #990033;
  padding-left: 1em;
  text-indent: -1em;
}

.topMessageSection .note span {
  display: inline-block;
  width: 1em;
  font-size: 1.6rem;
  line-height: 1.35em;
  color: #990033;
  padding-left: 0em;
  text-indent: 0em;
}

.topMessageSection .opneTopMessage,
.topMessageSection .closeTopMessage {
  position: absolute;
  top: 15px;
  right: 15px;
  display: inline-block;
  padding: 5px 10px;
  background-color: #990033;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  line-height: 2.5em;
  width: 3em;
  text-align: center;
}

.topMessageSection .opneTopMessage {
  display: none;
}

/* for SE */
@media screen and (max-width: 359px) {
  .topMessageSection h2 {
    font-size: 1.4rem;
  }
}

/* for PC */
@media screen and (min-width: 768px) {
  .topMessageSection {
    padding: 20px 0 30px 0;
  }

  .topMessageSection .smartContainer {
    padding: 30px;
    padding-bottom: 1px;
    width: 680px;
    margin: 0 auto;
  }

  .topMessageSection h2 {
    font-size: 2.4rem;
    line-height: 1em;
    margin-bottom: 30px;
    text-align: center;
  }

  .topMessageSection .opneTopMessage,
  .topMessageSection .closeTopMessage {
    top: 20px;
    right: 30px;
  }

  .topMessageSection .closeTopMessage:hover {
    cursor: pointer;
  }
}

/* ============================
		maintenanceSection
 ============================ */

.maintenanceSection {
  padding: 15px 0 25px 0;
}

.maintenanceSection .smartContainer {
  border-top: 6px solid #5e627b;
  padding: 15px;
  padding-bottom: 1px;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.maintenanceSection h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #5e627b;
  line-height: 1.35em;
  margin-bottom: 15px;
  text-align: center;
  padding-right: 70px;
}

#maintenanceSection {
  padding-bottom: 30px;
}

.maintenanceSection .body {
  font-size: 1.6rem;
  line-height: 1.35em;
  color: #5e627b;
}

.maintenanceSection .note {
  font-size: 1.6rem;
  line-height: 1.35em;
  color: #5e627b;
  padding-left: 0.6em;
  text-indent: -0.6em;
}

.maintenanceSection .note span {
  display: inline-block;
  width: 1em;
  font-size: 1.6rem;
  line-height: 1.35em;
  color: #5e627b;
  padding-left: 0em;
  text-indent: 0em;
}

.maintenanceSection .opneMaint,
.maintenanceSection .closeMaint {
  position: absolute;
  top: 15px;
  right: 15px;
  display: inline-block;
  width: 3em;
  text-align: center;
  padding: 5px 10px;
  background-color: #5e627b;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  line-height: 2.5em;
}

.maintenanceSection .opneMaint {
  display: none;
}

/* for SE */
@media screen and (max-width: 359px) {
  .maintenanceSection h2 {
    font-size: 1.4rem;
  }
}

/* for PC */
@media screen and (min-width: 768px) {
  .maintenanceSection {
    padding: 20px 0 30px 0;
  }

  .maintenanceSection .smartContainer {
    padding: 30px;
    padding-bottom: 1px;
    width: 680px;
    margin: 0 auto;
  }

  .maintenanceSection h2 {
    font-size: 2.4rem;
    line-height: 1em;
    margin-bottom: 30px;
  }

  .maintenanceSection .opneMaint,
  .maintenanceSection .closeMaint {
    top: 20px;
    right: 30px;
  }

  .maintenanceSection .closeMaint:hover {
    cursor: pointer;
  }
}

.commonToppageSection .contentsList li a,
.pickupSection li a,
.nettvEmbedSection .nettvLogo {
  /*別ウィンドウアイコンをa要素の外ではなく上に設置するための記述*/
  position: relative;
}

.commonToppageSection .contentsList li a img.tBlank,
.pickupSection li a img.tBlank {
  /*別ウィンドウアイコンをa要素の外ではなく上に設置するための記述*/
  position: absolute;
  top: 10px;
  right: 10px;
}
.nettvEmbedSection .nettvLogo a img.tBlank {
  /*別ウィンドウアイコンをa要素の外ではなく上に設置するための記述*/
  position: absolute;
  top: -10px;
  right: -10px;
}

/* 2022.02.04 追記 */
@media screen and (max-width: 960px) {
  .topFadeLate {
    animation: topAppeare 0s ease 2s 1 normal forwards running;
  }
}
@keyframes topAppeare {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* 2022.02.04 追記(終了) */

/* ============================
		middleInfoSection
 ============================ */

.middleInfoSection {
  padding: 1em;
  margin-bottom: 70px;
  border: solid 1px #000000;
}

.middleInfoSection p {
  line-height: 1.2em;
  display: block;
  background-image: url("../../common/images/link_makr004.svg");
  background-repeat: no-repeat;
  background-position: left 0.5rem;
  padding-left: 12px;
  background-size: auto;
}
/* for TB (Vertical) */
@media screen and (min-width: 768px) {
  .middleInfoSection {
    padding: 2em 2em;
  }
  .middleInfoSection p {
  }
}

/* ============================
		画像の枠線
 ============================ */
.img_border {
  border: 1px solid #ccc;
}

/* ============================
		other
 ============================ */

/* for SP */
@media screen and (max-width: 767px) {
}

/* for TB (Vertical) */
@media screen and (max-width: 960px) and (min-width: 768px) {
}

/* for PC (XVGA) */
@media screen and (max-width: 1200px) and (min-width: 961px) {
}

/* for PC */
@media screen and (min-width: 1201px) {
}
